header {
    width: 100vw;
    height: 20vh;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100vw;
    height: 35vh;
    background-color: #BAB5B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 65vw;
    height: 100%;
    background-color: #989595;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    width: 35vw;
    height: 100%;
    background-color: #716B6B;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    height: 35vh;
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
}